{% comment %}
------------------------------------------------------------------------------
  Section: Featured collection
  - This the main section that you should be working on
  - Main styling is done in /styles/sections/featured-collection.scss
------------------------------------------------------------------------------
{% endcomment %}

<section
  class="featured-collection"
  data-section-id="{{ section.id }}"
  data-section-type="featured-collection"
>
  {%- assign collection = collections[section.settings.collection] -%}

  <div class="container">
    <div class="row">
      <div class="col xs12">
        <h2>
          {{ collection.title | escape }}
        </h2>

        <p class="featured-collection__desc">
          {{ collection.description }}
        </p>

        {% for product in collection.products limit: 8 %}
          {% assign current_variant = product.selected_or_first_available_variant %}

          {% if forloop.first == true %}
            <div class="featured-collection__products">
          {% endif %}

          {% render 'product-card' with product: product, current_variant: current_variant %}

          {% if forloop.last == true %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="col xs12">
        <a
          class="button"
          href="#"
          role="button"
        >View collection</a>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
